@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #D3D3D3;
    --foreground: #0B090A;
    --text-selection: #E5383B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #161A1D;
        --foreground: #F5F3F4;
        --text-selection: #A4161A;
    }
}

* {
    box-sizing: border-box;

    &::selection {
        background: var(--text-selection);
        color: var(--foreground);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(----font-geist-mono);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}